.logo {
    width: 4%;
    height: 20%;
    left:26%;
    top:15%;
    transform: translate(-26%,-15%);
    /*margin-left:15px;*/
    /*float: left;*/
}
.site-layout .site-layout-background {
    background: #fff;
}