#logo {
    width: 16%;
    margin-top:-5%;
    /*float: left;*/
}
#content {
    padding: 0% 15%;
    text-align: center;
    background-color: aliceblue;
}

#status {
    text-align: center;
}

#pic {
    text-align: right;
}

.info{
    color:grey;
}

#footer{
    text-align: center;
}