#logo {
    width: 60%;
    /*margin-left:15px;*/
    /*float: left;*/
}
#content {
    padding: 6% 15%;
    text-align: center;
    background-color: aliceblue;
}

#status {
    text-align: center;
}

#pic {
    text-align: right;
}

.info{
    color:grey;
}

#footer{
    text-align: center;
}